<html xmlns:spry="http://ns.adobe.com/spry">
    
   <head>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
    <link href='stylesheet.css' rel='stylesheet'>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

   <script type="text/javascript">

   </script>
</head>
  <body ng-app="WeatherApp">
	<div class="container" ng-controller="weatherCtrl">
    <div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src="img/close.png">
      </div>

      <!-- Menu -->
      <ul>
        <li><a href="index.html">About</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="mainbody"  style="background-image:url(img/bg2.jpg)">
      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
      </div>
      <div class="title">
      	<h1>How's the Weather?</h1>
        <h2>今天天氣如何呢?(以ANGULAR JS實作)</h2>
          
      </div><!--title-->
      		<div class="cityname" >
              <div >
                <h3>{{info.datasetDescription}} </h3>	  
                    
                 <h4>   {{uptime}}{{info.update|date:"yyyy.MM.dd(EEE) HH:mm"}}</h4>
              </div><!--TITLE-->
                <div >
                <h1>{{citySelect.locationName}}</h1>
                
      			<select ng-model="citySelect" 
                		
                        id="citySet" 
                        ng-options="name.locationName  for (key,name) in local |orderBy :'id'">
               	  <option  value="name.id"></option>
              	</select>
                
              </div><!--Select option-->
              	<div class="helper" ng-repeat="p in todayinfo[citySelect.id]">
                {{p.parameterValue}}
                </div>
				<div class="weathertable">
   	    			<table class="wtable" width="100%"  style="text-align: center; border: 5px;">
  					<tr  >
    					<th scope="col" ng-repeat="ti in eachtitle">{{ti}}</th>    				
  					</tr>
  					<tr ng-repeat="t in Time" >
    					<th scope="row" style="width:20%">
                        <span>{{t.startTime|date:"MM.dd a hh:mm "}}<br> ~ {{t.endTime|date:"MM.dd a hh:mm "}}</span></th>
    					<td style="width:20%">{{citySelect.weatherElement[0].time[$index].parameter.parameterName}}</td>
    					<td style="width:20%">{{citySelect.weatherElement[2].time[$index].parameter.parameterName}}~
    										  {{citySelect.weatherElement[1].time[$index].parameter.parameterName}}</td>
    					<td style="width:20%">{{citySelect.weatherElement[3].time[$index].parameter.parameterName}}</td>
    					<td style="width:20%">{{citySelect.weatherElement[4].time[$index].parameter.parameterName}} %</td>
                        
 					</tr>
                    
	    </table>
             	</div>
            </div><!--class cityname-->
 
      </div><!--mainbody-->
    </div><!--container-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="app.js"></script>


    <script src="js/angular/module.js"></script>
    <script src="js/angular/Controllers/weatherCtrl.js"></script>
	
    <script src="js/angular/Service/weatherser.js"></script>
    <script src="xml2json.js"></script>

   

  </body>
</html>